body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(250, 230, 214);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 101, 1, 0.75);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(250, 230, 214, 0.9);
}

#loading__container {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(250, 230, 214, 0.7);
}

#loading__container .animate-spin {
    color: rgba(255, 101, 1);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: rotate(360deg);
        transform: scale(1, 1);
    }
}

@media only screen and (min-width: 1201px) {
    #loading__container .animate-spin {
        height: 10rem;
        width: 10rem;
    }
}

@media only screen and (max-width: 1200px) {
     ::-webkit-scrollbar {
        width: 8px;
    }
    #loading__container .animate-spin {
        height: 8rem;
        width: 8rem;
        color: rgba(255, 101, 1);
        animation: spin 1s linear infinite;
    }
}

@media only screen and (max-width: 600px) {
     ::-webkit-scrollbar {
        width: 4px;
    }
    #loading__container .animate-spin {
        height: 6rem;
        width: 6rem;
    }
}

@media only screen and (max-width: 425px) {
     ::-webkit-scrollbar {
        width: 2px;
    }
    #loading__container .animate-spin {
        height: 4rem;
        width: 4rem;
    }
}